/* Resets */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #c9e1f5;
}

.center {
  text-align: center;
}

h1 {
  margin-bottom: 0.75em;
  font-size: 36px;
  font-weight: normal;
  line-height: 1em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 28px;
  font-weight: normal;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 22px;
  font-weight: normal;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 18px;
}

p {
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 1.5em;
}

div p, div ul {
  margin-bottom: 0em;
  padding: 10px 45px;
}

ol, ul {
  list-style-position: inside;
  margin-left: 10px;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.25em
}

code {
  padding: 0 6px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fafafa;
  font-size: 15px;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

pre code {
  display: block;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  line-height: 1.33em;
  color: inherit;
}

a { color: #234878; }

iframe {
  margin: 2em 0;
}

.section {
  min-width: 900px;
}

.section .content {
  margin: 0 auto;
  /*max-width: 860px;*/
  max-width: 1000px;
  padding: 0 20px 0 20px;
}

/* main */

.main {
  min-width: 900px;
  padding-bottom: 75px;
  background: #fff;
}

/* header */

.header {
  color: white;
  background: #1875c6;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header nav {
  display: inline;
}

.header nav .logo {
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  top: -14px;
  margin-right: 10px;
  background: url(../img/bb_logo.svg);
}

.header nav a {
  color: #fff;
  text-decoration: none;
}

.header nav a.logo-link {
  font-weight: bold;
}

.header nav a:hover {
  border-bottom: 2px solid #b4dff5;
  border-bottom: 2px solid rgba(255, 255, 255, .7);
}

.header nav ul {
  list-style: none;
  float: right;
}

.header nav ul li {
  display: inline;
  margin-left: 25px;
}

/* page */

.section.page {
  margin-top: 25px;
  padding: 10px 50px;
}

.page {
  color: #333;
}

.page li {
  list-style-position: outside;
  margin-left: 20px;
}

.page img {
  /*display: block;*/
  margin: 0 auto;
  max-width: 50%;
}

/* footer */

.section.footer {
  	color: white;
		background: #1875c6;
		font-size: 18px;
		padding-top: 25px;
		padding-bottom: 25px;
}

.footer nav {
	display: inline;
}

.footer nav .logo {
	float: left;
	width: 50px;
	height: 50px;
	position: relative;
	top: -14px;
	margin-right: 10px;
	background: url(../img/bb_logo.svg);
}

.footer nav a {
	color: #fff;
	text-decoration: none;
	float: right;
}

.footer nav a.logo-link {
	font-weight: bold;
}

.footer nav a:hover {
	border-bottom: 2px solid #b4dff5;
	border-bottom: 2px solid rgba(255, 255, 255, .7);
}

.footer nav ul {
	list-style: none;
}

.footer nav ul li {
	display: inline;
}

.footer .disclaimer {
	font-size:small;
	color:#DBDBDB!important;
}

.section.footer .content {

}

/* table */

table {
  text-align: left;
  border-collapse: collapse;
  margin: 20px;
}

.table-column {
  border-bottom: 2px solid #1875c6;
}

td, th {
  border-bottom: 1px solid #1875c6;
  padding: 10px;
}

/* news */

article {
  margin-bottom: 2em;
}

.post-meta {
  margin-bottom: 1em;
}

.post-meta a {
  text-decoration: none;
}

.post-category {
  background: #c5e1f6;
  float: left;
  padding: 2px 10px;
}

.post-date,
.post-author {
  margin-left: 10px;
}

img.avatar {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
}

/*Selector Styles*/

.header {
	color: white;
	background: #1875c6;
	font-size: 18px;
	padding-top: 25px;
	padding-bottom: 55px;
}

div.intro-section {
  font-size: 15px;
  color: #ffffff;
  background-color: #0070c0;
  padding: 10px;
	font-weight: bold;
}

div.intro-section:hover {
	color: #ffffff;
	background-color: #0070c0;
	text-decoration:underline;
	border: 2px solid;
	border-color:#0070c0;
}

div.intro-section.odd {
  color: #0070c0;
  background-color: #c9e1f5;
}

.home.first {
	color: white;
	background: #1875c6;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1875c6', endColorstr='#00a5ea');
	background: linear-gradient(#1875c6, #00a5ea);
	padding: 15px 0 35px 0;
}

.home.first .box {
	width: 550px;
	background: rgba(255, 255, 255, 0.15);
	margin: 0 auto;
	padding: 40px 175px 50px;
	border-radius: 3px;
	text-align: center;
}

.home.first .box h1 {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: bold;
}

.home.first .box p {
	font-size: 18px;
	margin-bottom: 30px;
}

.home.first .box a {
	color: inherit;
	text-decoration: none;
}

.home.first .box .button {
	text-align: center;
	border-radius: 7px;
	font-size: 20px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	padding: 10px 30px;

}

.content .box .disclaimer {
	padding-bottom:45px;
}

.home.first .box .button:hover {
	background: rgba(255, 255, 255, 0.2);
}

.centered {
	position: fixed;
  top: 50%;
  left: 50%;
}

.logo {
	width: 50px;
	height: 50px;
	background: url(../img/bb_logo.svg);
	left: 45%;
	position: relative;
}

.description {
	padding: 25px;
}

.inline {
	display: inline-block;
}

.resource_img {

}

div nav ul {
	padding: 10px 60px;
}

h2 {
	margin-bottom: 1.5em;
	color:#0070c0;
	font-weight:bold;
}

div#recommendations {
	border: 1px solid;
	padding: 10px;
	border-color: #0070c0;
}
