
<style>
  .app-box-title {
    text-align: center;
    color: #234878;
    font-size: 30px;
    margin-bottom: 0.5em;
  }
  .app-box-container {
    width: 500px;
    margin: 0 auto;
    border: 5px solid #4987ff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
  }
  .app-box-item {
    padding: 24px 20px;
    text-align: center;
    font-size: 26px;
    border-radius: 10px;
  }
  .app-box-item a {
    text-decoration: none;
  }
  .app-box-item a:hover {
    text-decoration: underline;
  }
  .app-box-testing {
    border: 5px solid #a1c9ff;
    width: 28%;
    padding: 128px 0;
  }
  .app-box-right {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: 65%;
  }
  .app-box-tools {
    border: 5px solid #a1c9ff;
    margin-bottom: 10px;
  }
  .app-box-content {
    border: 5px solid #a1c9ff;
    margin-bottom: 10px;
  }
  .app-box-transport {
    border: 5px solid #a1c9ff;
  }
</style>

<div class="app-box-title">Blue Button+ Applications</div>
<div class="app-box-container">
  <div class="app-box-item app-box-testing">
    <a href="#testing">Testing</a>
  </div>
  <div class="app-box-right">
    <div class="app-box-item app-box-tools"><a href="#tools">Tools</a></div>
    <div class="app-box-item app-box-content"><a href="#content">Content</a></div>
    <div class="app-box-item app-box-transport"><a href="#transport">Transport</a></div>
  </div>
</div>
