<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/jquery.accordion.js"></script>
<script src="../js/selector.js"></script>
<div class="section header center">
  <div class="content">
    <nav>
<!--       <a class="logo-link" href="/">
        <div class="logo"></div>
        Blue Button Guide
      </a> -->
      <ul>
        <li><a class="scroll" href="#intro-title">Introduction</a></li>
        <li><a class= "scroll" href="#what">Get Started</a></li>
      </ul>
    </nav>
  </div>
</div>
