<div class="section header center">
  <div class="content">
    <nav>
<!--       <a class="logo-link" href="/">
        <div class="logo"></div>
        Blue Button Guide
      </a> -->
      <ul>
        <!--<li><a href="/get-started.html">Get Started</a></li>
        <li><a href="/applications">Applications</a></li>
        <li><a href="/policy">Policy</a></li>
        <li><a href="/community.html">Community</a></li>
        <li><a href="/news">News</a></li>-->
      </ul>
    </nav>
  </div>
</div>
