---
layout: base
---

<div class="docs">
  <div class="content">
    <div class="sidebar">
      
      <h1><a href="{{ site.baseurl }}/docs/ccda">Reference CCDA</a></h1>
      
      <ul>
        <li><a href="">Commodo Fringilla</a></li>
        <li><a href="">Tortor Ligula</a></li>
        <li><a href="">Nibh Fermentum</a></li>
      </ul>
      
      <h1><a href="{{ site.baseurl }}/docs/js">BlueButton.js</a></h1>
      
      <ul>
        <li><a href="{{ site.baseurl }}/docs/js/demo.html">Demo</a></li>
        <li><a href="">Aenean Amet</a></li>
        <li><a href="">Nibh Cursus</a></li>
        <li><a href="">Venenatis Fusce</a></li>
      </ul>
      
      <h1><a href="{{ site.baseurl }}/docs/apps">Sample Apps</a></h1>
      
      <ul>
        <li><a href="">Commodo Fringilla</a></li>
        <li><a href="">Tortor Ligula</a></li>
      </ul>
      
      <h1><a href="{{ site.baseurl }}/docs/plus">Blue Button +</a></h1>
      
      <ul>
        <li><a href="">Commodo Fringilla</a></li>
        <li><a href="">Tortor Ligula</a></li>
        <li><a href="">Nibh Fermentum</a></li>
        <li><a href="">Justo Consectetur</a></li>
        <li><a href="">Aenean Amet</a></li>
        <li><a href="">Nibh Cursus</a></li>
        <li><a href="">Venenatis Fusce</a></li>
      </ul>
      
      <h1><a href="">Templates</a></h1>
      
      <ul>
        <li><a href="">Commodo Fringilla</a></li>
        <li><a href="">Tortor Ligula</a></li>
        <li><a href="">Nibh Fermentum</a></li>
      </ul>
      
      <h1><a href="">Checklists</a></h1>
      
      <h1><a href="">Tools</a></h1>
      
      <ul>
        <li><a href="">Commodo Fringilla</a></li>
        <li><a href="">Venenatis Fusce</a></li>
      </ul>
      
    </div>
    
    <div class="page">
      {{ content }}
    </div>
  </div>
</div>
