---
layout: main
---

<div class="section docs">
  <div class="content">
    <div class="sidebar">
      
      <h1><a href="/docs/direct">Blue Button Direct</a></h1>
      <ul>
        <li><a href="#">Commodo Fringilla</a></li>
        <li><a href="#">Tortor Ligula</a></li>
        <li><a href="#">Nibh Fermentum</a></li>
      </ul>
      
      <h1><a href="#">Blue Button REST</a></h1>
      <ul>
        <li><a href="#">Aenean Amet</a></li>
        <li><a href="#">Nibh Cursus</a></li>
        <li><a href="#">Venenatis Fusce</a></li>
      </ul>
      
      <h1><a href="#">Checklists</a></h1>
      <ul>
        <li><a href="#">Commodo Fringilla</a></li>
        <li><a href="#">Tortor Ligula</a></li>
        <li><a href="#">Nibh Fermentum</a></li>
        <li><a href="#">Justo Consectetur</a></li>
        <li><a href="#">Aenean Amet</a></li>
      </ul>
      
      <h1><a href="#">Open Source Tools</a></h1>
      <ul>
        <li><a href="#">BlueButton.js</a></li>
        <li><a href="#">CCDA Scorecard</a></li>
      </ul>
      
      <h1><a href="#">Open Data and APIs</a></h1>
      <ul>
        <li><a href="#">Commodo Fringilla</a></li>
        <li><a href="#">Tortor Ligula</a></li>
        <li><a href="#">Nibh Fermentum</a></li>
      </ul>
      
    </div>
    
    <div class="page">
      {{ content }}
    </div>
  </div>
</div>
