.section.splash-section.bg-white
      a(href="index.html")
        img.logo-big(src='img/bb-logo-depth.jpg', alt = "Blue Button Logo")
      ul.top-nav.nav.nav-pills.pull-right
        li: a(href='#faqs') Introduction
        li: a(href='privacy-security-faqs.html') Privacy and Security FAQs
      .splash-title.text-center
        h1.fg-mblue Blue Button<sup>&#174;</sup> Toolkit
        h3.fg-mblue Support Consumers in Getting <br>& Using Their Health Records