extends layout

append vars
  - var nestLevel = ''
  - var pgTitle = 'Blue Button Toolkit | FAQs on Privacy and Security'

block content

    .section.splash-section.bg-white

        a(href="index.html")
            img.logo-big(src='img/bb-logo-depth.jpg', alt = "Blue Button Logo")
        ul.top-nav.nav.nav-pills.pull-right
          li: a(href='index.html#faqs') Introduction
          li: a(href='privacy-security-faqs.html') Privacy and Security FAQs
        .splash-title.text-center
          h1.fg-mblue Blue Button<sup>&#174;</sup> Toolkit
          h3.fg-mblue Support Consumers in Getting <br>& Using Their Health Records

    .container.readable-width
     .row 
      h2.fg-mblue.text-center Sample Tweets
    .row
        .col-md-offset-2.col-md-8

         P.fs-large More & more healthcare providers are going digital. Ask them to send you your records electronically  #BlueButton! <a href=bit.ly/1iicQ6K>href=bit.ly/1iicQ6K</a> 
         p.fs-large Hard to remember & manage your mom’s prescriptions? There is an app for that: <a href="bit.ly/RkqjB0">bit.ly/RkqjB0</a>. Get #BlueButton!
         P.fs-large Quick, can you recall your entire medical history & medication lists? No? You’re not alone. #BlueButton can help <a href= "bit.ly/1kHXcyQ">bit.ly/1kHXcyQ</a>
         P.fs-large Your health is just as important as your finances. Why mange one online and not the other? Learn about #BlueButton: http://bit.ly/1iicQ6K
         P.fs-large Stay healthy, ask your doctor about #BlueButton access to your records… & use health apps to track your health <a href = "http://bit.ly/1jxrZ4k"> bit.ly/1jxrZ4k</a>
         P.fs-large Find out if your provider offers #BlueButton access to your health records:  <a href = "http://bit.ly/MVvPrv"> bit.ly/MVvPrv</a>
         P.fs-large Find out if your pharmacy offers #BlueButton access to your prescription records:  <a href = "bit.ly/MVvPrv">bit.ly/MVvPrv</a> 
         p.fs-large 37 million Medicare beneficiaries can access their health claims online with #BlueButton  Are you one of them? <a href = "http://bit.ly/MVvPrv">bit.ly/MVvPrv</a>
         p.fs-large #BlueButton lets you take control of your health: <a href = "http://bit.ly/1iiAJLo" >bit.ly/1iiAJLo</a> 
         p.fs-large Don’t let healthcare happen to you. Get involved! #BlueButton <a href = "http://bit.ly/1o2Xw1o">bit.ly/1o2Xw1o</a>

