extends layout

append vars
  - var nestLevel = ''
  - var pgTitle = 'Blue Button Toolkit | FAQs on Privacy and Security'

block content

    .section.splash-section.bg-white

        a(href="index.html")
            img.logo-big(src='img/bb-logo-depth.jpg', alt = "Blue Button Logo")
        ul.top-nav.nav.nav-pills.pull-right
          li: a(href='index.html#faqs') Introduction
          li: a(href='privacy-security-faqs.html') Privacy and Security FAQs
        .splash-title.text-center
          h1.fg-mblue Blue Button<sup>&#174;</sup> Toolkit
          h3.fg-mblue Support Consumers in Getting <br>& Using Their Health Records

    .container.readable-width
    .row
        .col-md-offset-2.col-md-8

         P.fs-large 
         |More & more healthcare providers are going digital. Ask them to send you your records electronically  #BlueButton! http://bit.ly/1iicQ6K 
        
         |
         p.fs-large Hard to remember & manage your mom’s prescriptions? There is an app for that: http://bit.ly/RkqjB0. Get #BlueButton!
         P.fs-large Quick, can you recall your entire medical history & medication lists? No? You’re not alone. #BlueButton can help http://bit.ly/1kHXcyQ
         P.fs-large Your health is just as important as your finances. Why mange one online and not the other? Learn about #BlueButton: http://bit.ly/1iicQ6K
         p
         a(href='google.com') Google
         P.fs-large 
             
